body {
    background-color: rgb(18, 125, 93);
}

.MyH {
    color: white;
    text-align: center;
}

.MyInput{
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    width: 80%;
    height: 37px;
    margin: 0 auto;
}

.MyInput input {
    width: 60%;
    border: 0;
}

.MyInput button {
    width: 20%;
    border: 0;
}

#createButton {
    background-color: rgb(195, 187, 187);
}

#clearButton {
    background-color: rgb(188, 25, 25);
}

ol {
    list-style-type: none;
    background-color: white;
    width: 50%;
    margin: 40px auto;
}