html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0; /* обнулили все отступы */
    padding: 0; /* и поля */
    color: black;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* div p:first-child{
    font-weight: bold;
    color: black;
} */

p {
    color: gray;
}

#welcome {
    background-image: url("../resources/Spain.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

#welcome > p,
#welcome > h1 {
    color: white;
}

button {
    background-color: rgb(255, 108, 108);
    /* border-color: rgb(255, 108, 108); */
    border: 0px;
    color: white;
    border-radius: 20px;
    padding: 11px;
    padding-left: 25px;
    padding-right: 25px;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px;
}

#myDiv1 {
    display: flex;
    flex-direction: row;
} 

#myDiv1 > div {
    flex: 1; /* каждый займёт равную долю  */
}

#divImage {
    background-image: url("../resources/Kolmar.jpg");
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 10px;
}