/* ---------- RESET ---------- */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* ---------- VARIABLES ---------- */
:root {
    --background-color-1: rgb(230, 230, 230);
    --background-color-2: rgb(245, 245, 245);

    --color-1: rgb(37, 37, 37);
    --color-2: rgb(255, 108, 108);
    --color-3 : gray;
    --color-4: white;

    --shadow-color-1: rgb(214, 214, 214);
    --box-shadow-1: 0px 3px 5px var(--shadow-color-1);

    --padding-x: 90px;
    --padding-y: 55px;

    --font-size: clamp(14px, 2vw, 20px);
}

/* ---------- TYPOGRAPHY ---------- */
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: var(--font-size);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: var(--color-1);
}

p {
    color: var(--color-3);
    font-size: calc(var(--font-size) - 2px);
    line-height: 1.4;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: var(--color-2);
    border: 0px;
    color: var(--color-4);
    border-radius: 20px;
    padding: 11px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    
}

/* ---------- ОБЩИЕ БЛОКИ (СЕКЦИИ) ---------- */
body > div {
    background-color: var(--background-color-1);
    padding-left: var(--padding-x);
    padding-right: var(--padding-x);
    padding-top: var(--padding-y);
    padding-bottom: var(--padding-y);
}

body > div:nth-child(odd) {
    background-color: var(--background-color-2);
}

div > h2 {
    margin-bottom: 30px;
    text-align: center;
}

/* ---------- УТИЛИТЫ ---------- */
.flex-row {
    display: flex;
    flex-direction: row;
}

.image-bg-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.image-bg-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    transition: transform 0.3s ease;
}

.image-bg-container img:hover {
    transform: scale(1.05);
}

.image-bg-container > *:not(img) {
    position: relative;
    z-index: 1;
}

/* ---------- КОМПОНЕНТЫ ---------- */
.scroll-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.scroll-text > p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: clamp(13px, calc(var(--font-size) - 2px), 18px);
}

.card {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--color-4);
    box-shadow: var(--box-shadow-1);
    min-width: 150px;
    height: 370px;
    border-radius: 10px;
    overflow: hidden;

    transition: box-shadow 0.3s, transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

.card + .card {
    margin-left: 23px;
}

.card-image + .scroll-text {   
    padding: 15px;
}

.card-image {
    height: 40%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.avatar {
    background-image: url("../resources/Avatar.jpg");
    height: 40px;
    width: 40px;
    flex-shrink: 0;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 50%;
}

.avatar + div {
    margin-left: 23px;
}

.avatar + div > span {
    color: var(--color-3);
}

/* ---------- ЛОГОТИП ---------- */
.logo > * {
    font-weight: bold;
}

.logo > .travel {
    color: var(--color-1);
}

.logo > .world {
    color: var(--color-2);
}

/* ---------- НАВИГАЦИЯ ---------- */
#navigation-bar {
    position: fixed;
    left: 0;
    right: 0;
    background-color: var(--color-4);
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: var(--box-shadow-1);
    white-space: nowrap;

    z-index: 100;
}

#navigation-bar > .logo {
    margin-right: 20px;
}

#navigation-bar + div {
    padding-top: 44px;
}

#navigation-bar > div > a {
    margin-right: 13px;
}

#about, #directions, #tours, #reviews, #contacts {
    scroll-margin-top: 44px; /* высота вашей фиксированной панели (примерно) */
}

/* ---------- WELCOME ---------- */
#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 550px;
    height: 300px;
    padding: 0px;
    border-radius: 0px;
}

#welcome img {
    filter: brightness(0.4);
}

#welcome > p,
#welcome > h1 {
    color: var(--color-4);
}

/* ---------- ABOUT ---------- */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about > .flex-row > div {
    flex: 1;
}

#about > .flex-row > div + div {
    margin-left: 25px;
}

#about img {
    filter: brightness(0.9);
}

/* ---------- SPECIAL OFFER ---------- */
#special-offer {
    padding-left: calc(var(--padding-x) + 80px);
    padding-right: calc(var(--padding-x) + 80px);
    padding-bottom: 2px;
}

.slider {
    overflow: hidden;
    position: relative;
    min-width: 200px;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    flex-shrink: 0;
    position: relative;
}

/* Контент поверх фона */
.slide > div {
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.slide > div > * {
    color: var(--color-4);
}

.slide > div :last-child {
    margin-bottom: 0px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    z-index: 2;
}

.prev { left: 10px; }
.next { right: 10px; }

/* ---------- НАПРАВЛЕНИЯ И ТУРЫ (общие карточки) ---------- */
.tour-footer {
    justify-content: space-between;
    align-items: center;
    margin-top: auto;   /* прижимает к низу карточки */
}

.tour-footer > h4 {
    color: var(--color-2);
    margin-right: 15px;
}

/* ---------- ОТЗЫВЫ ---------- */
.review {
    padding: 20px;
    min-width: 205px;
    min-height: 240px;
    height: auto;
    background-color: var(--background-color-1);
}

.review > .flex-row {
    align-items: center;
}

.review > p {
    font-style: italic;
    margin-bottom: 0px;
}

/* ---------- ГАЛЕРЕЯ МОМЕНТОВ ---------- */
#gallery {
    flex-wrap: wrap;
    gap: 20px;
}

#gallery > .moments {
    width: 200px;
    height: 200px;
    margin: 0;
}

/* ---------- FAQ ---------- */
#faq {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

#faq > .flex-row {
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color-1);
    padding: 15px;
    border-radius: 10px;
    box-shadow: var(--box-shadow-1);
}

#faq > .flex-row > h3 + h3 {
    margin-left: 15px;
}

/* ---------- КОНТАКТЫ ---------- */
#contacts > .flex-row {
    justify-content: space-between;
}

#contacts > .flex-row > div + div {
    margin-left: 15px;
}

#contact-details {
    margin-left: 15px;
}

#contact-details + .flex-row {
    gap: 10px;
    flex-wrap: wrap;
}

#contacts button {
    background-color: var(--background-color-2);
    color: var(--color-1);
    transition: all 0.2s ease;
}

#contacts button.active-button {
    background-color: var(--color-2);
    color: var(--color-4);
}

#map-container {
    width: 100%;
    max-width: 500px;
    height: auto;
}

#map-container svg {
    width: 100%;
    height: auto;
    display: block;
}

/* ---------- ФУТЕР ---------- */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-1);
    padding: 20px;
}

footer > .logo > .travel {
    color: var(--color-4);
}

footer > :last-child {
    margin-bottom: 0px;
}