html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body > div {
    background-color: rgb(224, 224, 224);
}

body > div:nth-child(odd){
    background-color: rgb(245, 245, 245);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0; /* обнулили все отступы */
    padding: 0; /* и поля */
    color: black;
}

div > h2 {
    margin-bottom: 30px;
    text-align: center;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

p {
    color: gray;
}

a {
    color: inherit;          /* наследует цвет родительского элемента */
    text-decoration: none;   /* убирает подчёркивание */
}

#navigationBar {
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 0px 3px 5px rgb(214, 214, 214); /* горизонтальное смещение, вертикальное смещение, размытие, цвет */
}

.logo > .travel {
    color: black;
}

.logo > .world {
    color: rgb(255, 108, 108);
}

#navigationBar > div > a {
    margin-right: 13px;
}

#welcome {
    background-image: url("../resources/Spain.jpg");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

#welcome > p,
#welcome > h1 {
    color: white;
}

button {
    background-color: rgb(255, 108, 108);
    /* border-color: rgb(255, 108, 108); */
    border: 0px;
    color: white;
    border-radius: 20px;
    padding: 11px;
    padding-left: 25px;
    padding-right: 25px;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}

#myDiv1 {
    display: flex;
    flex-direction: row;
} 

#myDiv1 > div {
    flex: 1; /* каждый займёт равную долю  */
    margin-left: 15px;
    margin-right: 15px;
}

#divImage {
    background-image: url("../resources/Kolmar.jpg");
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}